<figure class = "highlight"><pre><code class="language-c" data-lang="c"> 
   <span class="mi">0</span><span class="n">a</span> <span class="mi">0</span><span class="n">b</span> <span class="mi">0</span><span class="n">c</span> <span class="mi">0</span><span class="n">d</span>
   <span class="mo">01</span> <span class="mo">01</span> <span class="mo">01</span> <span class="mo">01</span>
   <span class="o">------------</span>
   <span class="sr">0</span><span class="sr">a</span> <span class="mi">0</span><span class="n">b</span> <span class="mi">0</span><span class="n">c</span> <span class="mi">0</span><span class="n">d</span>
<span class="p">...</span><span class="sr">0</span><span class="sr">b</span> <span class="mi">0</span><span class="n">c</span> <span class="mi">0</span><span class="n">d</span>
<span class="p">...</span><span class="sr">0</span><span class="sr">c</span> <span class="mi">0</span><span class="n">d</span>
<span class="p">...</span><span class="sr">0</span><span class="sr">d</span>
<span class="o">-----------</span></code></pre></figure>